crest-web/src/main/webapp/catalog/opendof/interface-repository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://opendof.org/schema/interface-repository" xmlns:md="http://opendof.org/schema/interface-repository-meta" targetNamespace="http://opendof.org/schema/interface-repository" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="http://opendof.org/schema/interface-repository-meta" schemaLocation="http://opendof.org/schema/interface-repository-meta.xsd"/>
	<!--
		****************************************************************************************************************************
		* XML schema definition of the http://opendof.org/schema/interface-repository namespace
		* This namespace will reference the "http://opendof.org/schema/interface-repository-meta" (md) namespace.
		****************************************************************************************************************************
	-->
	<xs:annotation>
		<xs:documentation>interface-type is root element of the Standard OpenDOF Interface Repository.</xs:documentation>
	</xs:annotation>
	<!--
		*****************************************************************************
		*                       Generic Type Definitions
		*****************************************************************************
	-->
	<!-- See EMIT_DO_Common_Types_en.pdf 3.1 and 3.2 for the definitions of the compressed values and their maximum sizes -->
	<xs:simpleType name="compressed-16bit">
		<xs:restriction base="xs:unsignedShort">
			<xs:maxExclusive value="32768"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="compressed-24bit">
		<xs:restriction base="xs:unsignedLong">
			<xs:maxExclusive value="4194304"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- See EMIT_DO_Object_Model_Types_en.pdf 3.3 for the definition of the String Type, it references http://www.iana.org/assignments/character-sets/character-sets.xhtml  for the possible values of this field -->
	<xs:simpleType name="encoding-type">
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="3"/>
			<xs:maxExclusive value="3000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--
		**********************************************************************************
		*                       Mutable metadata elements
		* The metadata-group is found as a sub-element of all elements except 
		* the first level children of the interface element namely; typedefs, 
		* properties, methods, events and exceptions.
		*
		* All non metadata-group elements are considered immutable after
		* being promoted from a "working" state to a "published" state.  All 
		* metadata-group elements remain mutable into the future.
		*****************************************************************************
	-->
	<xs:group name="metadata-group">
		<xs:sequence>
			<xs:element ref="md:code-name" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="md:known-value" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="md:display-name" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="md:description" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	
	<!--
		*****************************************************************************
		*                       DOFType Element Definitions
		*****************************************************************************
	-->
	<!--  ************************ DOFString *************************************-->
	<xs:element name="string">
		<xs:complexType mixed="true">
			<xs:annotation>
				<xs:documentation xml:lang="en">A DOFString type</xs:documentation>
			</xs:annotation>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
			<xs:attribute name="length" type="compressed-16bit" use="required"/>
			<xs:attribute name="encoding" type="encoding-type" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!--  ************************ DOFBoolean *************************************-->
	<xs:element name="boolean">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation xml:lang="en">A DOFBoolean type</xs:documentation>
			</xs:annotation>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!--  ************************ DOF numerical types *****************************-->
	<xs:element name="unit">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation xml:lang="en">Unit of measure for a DOFNumerical type.</xs:documentation>
			</xs:annotation>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="numerical-type">
		<xs:sequence>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="unit" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
		<xs:attribute name="min" type="xs:double" use="optional"/>
		<xs:attribute name="max" type="xs:double" use="optional"/>
	</xs:complexType>
	<xs:element name="uint8" type="numerical-type"/>
	<xs:element name="uint16" type="numerical-type"/>
	<xs:element name="uint32" type="numerical-type"/>
	<xs:element name="uint64" type="numerical-type"/>
	<xs:element name="int8" type="numerical-type"/>
	<xs:element name="int16" type="numerical-type"/>
	<xs:element name="int32" type="numerical-type"/>
	<xs:element name="int64" type="numerical-type"/>
	<xs:element name="float32" type="numerical-type"/>
	<xs:element name="float64" type="numerical-type"/>
	
	<!--  ************************ DOFDatetime *************************************-->
	<xs:element name="datetime">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation xml:lang="en">A DOFDatetime type</xs:documentation>
			</xs:annotation>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!--  ************************ DOFArray *************************************-->
	<xs:element name="array">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
			<xs:attribute name="type-ref" type="compressed-16bit" use="required"/>
			<xs:attribute name="min-length" type="compressed-16bit" use="optional"/>
			<xs:attribute name="length" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!--  ************************ DOFGuid *************************************-->
	<xs:element name="uuid">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation xml:lang="en">A DOFGuid type</xs:documentation>
			</xs:annotation>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!--  ************************ DOFBlob *************************************-->
	<xs:element name="blob">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation xml:lang="en">A DOFBlob type</xs:documentation>
			</xs:annotation>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
			<xs:attribute name="min-length" type="compressed-24bit" use="optional"/>
			<xs:attribute name="length" type="compressed-24bit" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!--  ************************ DOFStructure *************************************-->
	<xs:element name="field">
		<xs:complexType>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:attribute name="type-ref" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="structure">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!--  ************************ DOFNullable *************************************-->
	<xs:element name="nullable">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
			<xs:attribute name="type-ref" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!--  ************************ DOFInterfaceID *************************************-->
	<xs:element name="iid">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation xml:lang="en">A DOFInterfaceID type</xs:documentation>
			</xs:annotation>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!--  ************************ DOFObjectID *************************************-->
	<xs:element name="oid">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation xml:lang="en">A DOFObjectID type</xs:documentation>
			</xs:annotation>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:attribute name="type-id" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!--
		*****************************************************************************
		*                       Non-DOFType Element Definitions
		*****************************************************************************
	-->
	<!--  ************************ typedefs element *************************************-->
	<xs:element name="typedefs">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="string"/>
				<xs:element ref="boolean"/>
				<xs:element ref="uint8"/>
				<xs:element ref="uint16"/>
				<xs:element ref="uint32"/>
				<xs:element ref="uint64"/>
				<xs:element ref="int8"/>
				<xs:element ref="int16"/>
				<xs:element ref="int32"/>
				<xs:element ref="int64"/>
				<xs:element ref="float32"/>
				<xs:element ref="float64"/>
				<xs:element ref="datetime"/>
				<xs:element ref="array"/>
				<xs:element ref="uuid"/>
				<xs:element ref="blob"/>
				<xs:element ref="structure"/>
				<xs:element ref="nullable"/>
				<xs:element ref="iid"/>
				<xs:element ref="oid"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<!--  ************************ properties element *************************************-->
	<xs:complexType name="property-list">
		<xs:annotation>
			<xs:documentation xml:lang="en">A list of DOFInterface Properties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="property" type="property-type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="properties" type="property-list"/>
	
	<!--  ************************ property element *************************************-->
	<xs:complexType name="property-type">
		<xs:annotation>
			<xs:documentation xml:lang="en">A DOFInterface Property.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="item-id" type="compressed-16bit" use="required"/>
		<xs:attribute name="type-ref" type="compressed-16bit" use="required"/>
		<xs:attribute name="read" type="xs:boolean" use="required"/>
		<xs:attribute name="write" type="xs:boolean" use="required"/>
	</xs:complexType>
	
	<!--  ************************ methods element *************************************-->
	<xs:complexType name="method-list">
		<xs:annotation>
			<xs:documentation xml:lang="en">A list of DOFInterface Methods.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="method" type="method-type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="methods" type="method-list"/>
	
	<!--  ************************ method element *************************************-->
	<xs:complexType name="method-type">
		<xs:annotation>
			<xs:documentation xml:lang="en">A DOFInterface Method.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="inputs" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="outputs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="item-id" type="compressed-16bit" use="required"/>
	</xs:complexType>
	<xs:complexType name="input-list">
		<xs:annotation>
			<xs:documentation xml:lang="en">A list of DOFInterface Types that are input parameters.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="input" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="input">
		<xs:complexType>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:attribute name="type-ref" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="inputs" type="input-list"/>
	
	<!--  ************************ events element *************************************-->
	<xs:complexType name="event-list">
		<xs:annotation>
			<xs:documentation xml:lang="en">A list of DOFInterface Events.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="event" type="event-type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="events" type="event-list"/>
	
	<!--  ************************ event element *************************************-->
	<xs:complexType name="event-type">
		<xs:annotation>
			<xs:documentation xml:lang="en">A DOFInterface Event.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="outputs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="item-id" type="compressed-16bit" use="required"/>
	</xs:complexType>
	
	<!--  ************************ exceptions element *************************************-->
	<xs:complexType name="exception-list">
		<xs:annotation>
			<xs:documentation xml:lang="en">A list of DOFInterface Exceptions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="exception" type="exception-type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="exceptions" type="exception-list"/>
	
	<!--  ************************ exception element *************************************-->
	<xs:complexType name="exception-type">
		<xs:annotation>
			<xs:documentation xml:lang="en">A DOFInterface Exception.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="outputs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="item-id" type="compressed-16bit" use="required"/>
	</xs:complexType>
	
	
	<!--  ************************ common to method and exception elements *************************************-->
	<xs:complexType name="output-list">
		<xs:annotation>
			<xs:documentation xml:lang="en">A list of DOFInterface Types that are output parameters.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="output" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="output">
		<xs:complexType>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:attribute name="type-ref" type="compressed-16bit" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="outputs" type="output-list"/>
	
	<!--
		*****************************************************************************
		*
		*                       Root Definitions
		*
		*****************************************************************************
	-->
	<xs:complexType name="interface-type">
		<xs:annotation>
			<xs:documentation xml:lang="en">A DOFInterface.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="metadata-group" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="typedefs" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="properties" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="methods" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="events" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="exceptions" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="iid" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="interface" type="interface-type"/>
</xs:schema>
